extends layout
block content


  each p in member
    tr
      br
      td First Name: #{p.firstname}
      br
      td Last Name:#{p.lastname}
      br
      td Age: #{p.age}
      br
      td Username: #{p.username}
      br
      td Password: #{p.password}
      br
      td Anime 1: #{p.int1}
      br
      td Anime 2: #{p.int2}
      br
      td Anime 3: #{p.int3}
